<div class="bar">
    <a href="/" target="_parent"><div class="top-logo">WhoQuote</div></a>
	<div class="gh"><a href="https://github.com/alexklibisz/who-quote" target="_blank"><i class="fa fa-github"></i></a></div>
</div>

<div class="background"> 
	<div class="container">
		<div class="row">
			<a href="/" class="logo">
				WhoQuote
			</a>
		</div>

		<div class="row">
			<div id="play-btn" class="action">PLAY</div>
		</div>
	</div>
</div>

<div class="wrapper cat">

	{{!-- <div class="row">
		<div id="action-btn" class="action again">LOGIN</div>
	</div> --}}

	{{#each vm.categories}}		
		<form action="/game" method="post">
			<input type="hidden" name="category" value="{{slug}}"/>
			<input type="hidden" name="user" value="testUser"/>
			{{!-- <input type="submit" class="btn btn-default"> --}}
			<section id="{{slug}}" class="parallax" style="background-image: url(/images/{{slug}}.jpg)" onClick="javascript:this.parentNode.submit();">
			  <div class="mod-container">
			    <h1>{{name}}</h1>
			  </div>
			</section>
		</form>
	{{/each}}

	<section id="movie-stars" class="parallax" data-user="testUser" style="background-image: url(/images/movie-stars.jpg)">
	  <div class="mod-container disabled">
	    <h1>Movie Stars</h1>
	    <h5>comming soon...</h5>
	  </div>
	</section>

	<section id="musicians" class="parallax" data-user="testUser" style="background-image: url(/images/musicians.jpg)">
	  <div class="mod-container disabled">
	    <h1>Musicians</h1>
	    <h5>comming soon...</h5>
	  </div>
	</section>

	<section id="tv-personalities" class="parallax" data-user="testUser" style="background-image: url(/images/tv-personalities.jpg)">
	  <div class="mod-container disabled">
	    <h1>TV Personalities</h1>
	    <h5>comming soon...</h5>
	  </div>
	</section>
</div>

{{!-- <section id="{{slug}}" class="parallax" data-user="testUser" style="background-image: url(/images/{{slug}}.jpg)">
  <div class="mod-container">
    <h1>{{name}}</h1>
  </div>
</section>
 --}}

