<div class="bar">
	<a href="/" target="_parent"><div class="top-logo">WhoQuote</div></a>
	<div class="gh"><a href="https://github.com/alexklibisz/who-quote"><i class="fa fa-github"></i></a></div>
</div>
<div class="wrapper">
	<div class="row">
		<div class="image-container res col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
			<div class="results-container">
				<div class="row results">
					<div class="success col-sm-4"><h1>{{ vm.correct }}</h1></div>
					<div class="percent col-sm-4">
						<h3>{{ vm.percent }}%</h3>
						<h3 class="message">{{ vm.message }}</h3>
						<div class="btn-group">
							<a class="share-btn" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-btn" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-btn" href="#"><i class="fa fa-code-fork"></i></a>
						</div>
					</div>
					<div class="fail col-sm-4"><h1>{{ vm.incorrect }}</h1></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="action-btn" class="action again">PLAY AGAIN</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Previous Plays</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th>#</th>
					<th>Category</th>
					<th>Date</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{{#each vm.user.games}}		
					<tr>
						<td>{{inc @index}}</td>
						<td>{{title category }}</td>
						<td>{{#date createdAt}}{{/date}}</td>
						<td><a href="/game/{{id}}/result">View Results</a></td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>